
@{
    ViewBag.Title = "GRN";
}




<div class="container content-in">
    <div class="row">
        <h1>Goods Release Note</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>GRN No.</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Date</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Supplier</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>P.O. Reference</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>



    </div>




    <hr />


    <div class="table-responsive scroll2">
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="7%">P.O. No</th>
                    <th width="7%">Item Code</th>
                    <th width="15%">Item Name</th>
                    <th width="7%" class="text-right">P.O. Qty</th>
                    <th width="7%" class="text-right">GRN Qty</th>
                    <th width="7%">UoM</th>
                    <th width="7%" class="text-right">Rate</th>
                    <th width="7%" class="text-right">Amount</th>
                    <th width="14%">QC Applicable</th>
                    <th width="15%">Batch Name</th>
                    <th width="7%">Expiry Date</th>


                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>10001</td>
                    <td>DN256</td>
                    <td>Inerior Item</td>
                    <td class="text-right">5</td>
                    <td class="text-right">15</td>
                    <td>Nos</td>
                    <td class="text-right">150</td>
                    <td class="text-right">2000</td>
                    <td></td>
                    <td></td>
                    <td></td>




                </tr>



                <tr>

                    <td>10002</td>
                    <td>DN256</td>
                    <td>Inerior Item</td>
                    <td class="text-right">5</td>
                    <td class="text-right">15</td>
                    <td>Nos</td>
                    <td class="text-right">150</td>
                    <td class="text-right">2000</td>
                    <td></td>
                    <td></td>
                    <td></td>





                </tr>
                <tr>

                    <td>10003</td>
                    <td>DN256</td>
                    <td>Inerior Item</td>
                    <td class="text-right">5</td>
                    <td class="text-right">15</td>
                    <td>Nos</td>
                    <td class="text-right">150</td>
                    <td class="text-right">2000</td>
                    <td></td>
                    <td></td>
                    <td></td>





                </tr>
                <tr>

                    <td>10004</td>
                    <td>DN256</td>
                    <td>Inerior Item</td>
                    <td class="text-right">5</td>
                    <td class="text-right">15</td>
                    <td>Nos</td>
                    <td class="text-right">150</td>
                    <td class="text-right">2000</td>
                    <td></td>
                    <td></td>
                    <td></td>





                </tr>




            </tbody>

        </table>



    </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Stock Point</label>
                    <select class="form_input">
                        <option value="">Stock Point 1</option>
                        <option value="">Stock Point 2</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Received by</label>
                    <select class="form_input">
                        <option value="">Received 1</option>
                        <option value="">Received 2</option>
                    </select>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Landing Date and Time</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Supplier DC No. and Date</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">

                <div class="col-md-12">
                    <label>Delivery Mode</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>


    </div>

        <div class="row">
            <div class="col-md-12">
                <label>Special Remarks</label>
                <textarea class="form_input text-area"></textarea>
            </div>



        </div>

        <div class="row">
            <hr />
            <div class="col-md-12">
                <button type="button" class="form-button" onclick="Previous()">Previous</button>
                <button type="button" class="form-button right">Save</button>
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
            </div>

        </div>




    </div>

<script>
    function Previous() {
        var url = '@Url.Action("PreviousGRN", "Purchase")'
        window.location = url;
    }


    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>

