
@{
    ViewBag.Title = "PendingPurchaseOrder";
}



<div class="container content-in">
    <div class="row">
        <h1>Pending Purchase Order</h1>
    </div>

    <div class="row">



        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <label>Supplier</label>
                    <select class="form_input">
                        <option value="">Supplier 1</option>
                        <option value="">Supplier 2</option>
                    </select>
                </div>



            </div>
        </div>






    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">P.O No</th>
                    <th width="7%">P.O Date</th>
                    <th width="19%">Supplier</th>
                    <th width="7%">Item code</th>
                    <th width="30%">Item name</th>
                    <th width="7%" class="text-right">Qty</th>
                    <th width="7%">Uom</th>
                    <th width="7%" class="text-right">Rate</th>
                    <th width="7%" class="text-right">Amount</th>
                    <th width="7%" class="text-center">Select</th>


                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>

                </tr>



                <tr>

                    <td>102</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>



                </tr>
                <tr>

                    <td>103</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>104</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>105</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>106</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>107</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>108</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>109</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>110</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>111</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>



                </tr>
                <tr>

                    <td>112</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>

                <tr>

                    <td>113</td>
                    <td>10-10-2016</td>
                    <td>Hawkins</td>
                    <td>h123</td>
                    <td>Kitchen item</td>
                    <td class="text-right">20</td>
                    <td>No</td>
                    <td class="text-right">150</td>
                    <td class="text-right">1500</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>









            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Add</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Proceed() {
        var url = '@Url.Action("GRN", "Purchase")'
        window.location = url;
    }


    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>