
@{
    ViewBag.Title = "PendingPurchaseIndent";
}




<div class="container content-in">
    <div class="row">
        <h1>Pending Purchase Indent</h1>
    </div>

    

    <div class="row">


        <div class="col-md-2">
            <div class="row">

                <div class="col-md-6">
                    <label>From</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>To</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Item Name</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>




    </div>


    <hr />




    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">Indent No</th>
                    <th width="7%">Indent Date</th>
                    <th width="16%">Request by</th>
                    <th width="7%">Item Code</th>
                    <th width="20%">Item Name</th>
                    <th width="20%">Item Category</th>
                    <th width="7%" class="text-right">Requested Qty</th>
                    <th width="7%" class="text-right">Approved Qty</th>
                    <th width="7%">Uom</th>
                    <th width="7%" class="text-center">Select</th>


                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>





                </tr>



                <tr>

                    <td>102</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>



                </tr>
                <tr>

                    <td>103</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>104</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>105</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>106</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>107</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>108</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>109</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>110</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>

                    <td>111</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>



                </tr>
                <tr>

                    <td>112</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>

                <tr>

                    <td>113</td>
                    <td>10-10-2016</td>
                    <td>Requested by</td>
                    <td>256465</td>
                    <td>Table</td>
                    <td>woods</td>
                    <td class="text-right">20</td>
                    <td class="text-right">15</td>
                    <td>No</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>






            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Create</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Proceed() {
        var url = '@Url.Action("PurchaseOrder", "Purchase")'
        window.location = url;
    }


    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>