
@{
    ViewBag.Title = "Estimate";
}



<div class="container content-in">
    <div class="row">
        <h1>Estimate</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Date</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Client</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Project</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Prepared by</label>
                    <input type="text" class="form_input" />
                </div>
            </div>
        </div>
        



    </div>


    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">#</th>
                    <th width="57%">Task</th>
                    <th width="20%">Employee</th>
                    <th width="7%" class="text-right">Hours</th>
                    <th width="7%" class="text-right">Rate</th>
                    <th width="7%" class="text-right">Total</th>

                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>
                        <table class="table_in">
                          <tr>
                              <td width="20%"><b>Living Room</b></td>
                              <td>Teak Chair</td>
                          </tr>
                            <tr>
                                <td></td>
                                <td>Mahagony Sofa</td>
                            </tr>
                        </table>
                    </td>
                    <td>Satheesh</td>
                    <td class="text-right">50 Hours</td>
                    <td class="text-right">250</td>
                    <td class="text-right">2500</td>


                </tr>



                <tr>
                    <td>102</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="20%"><b>Kitchen</b></td>
                                <td>Box</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Kitchen Items</td>
                            </tr>
                        </table>
                    </td>
                    <td>Gokul</td>
                    <td class="text-right">50 Hours</td>
                    <td class="text-right">250</td>
                    <td class="text-right">2500</td>
                </tr>

                <tr>
                    <td>102</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="20%"><b>Flooring</b></td>
                                <td>Box</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Flooring Items</td>
                            </tr>
                        </table>
                    </td>
                    <td>Raj</td>
                    <td class="text-right">50 Hours</td>
                    <td class="text-right">250</td>
                    <td class="text-right">2500</td>
                </tr>

                <tr>
                    <td>102</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="20%"><b>Ceiling</b></td>
                                <td>Box</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Ceiling Items</td>
                            </tr>
                        </table>
                    </td>
                    <td>jenson</td>
                    <td class="text-right">50 Hours</td>
                    <td class="text-right">250</td>
                    <td class="text-right">2500</td>
                </tr>

                <tr>
                    <td>102</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="20%"><b>Plumbing</b></td>
                                <td>Box</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Plumbing Items</td>
                            </tr>
                        </table>
                    </td>
                    <td>Ram</td>
                    <td class="text-right">50 Hours</td>
                    <td class="text-right">250</td>
                    <td class="text-right">2500</td>
                </tr>

                <tr>
                    <td>102</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="20%"><b>Flooring</b></td>
                                <td>Box</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Flooring Items</td>
                            </tr>
                        </table>
                    </td>
                    <td>Jose</td>
                    <td class="text-right">50 Hours</td>
                    <td class="text-right">250</td>
                    <td class="text-right">2500</td>
                </tr>

                <tr>
                    <td>102</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="20%"><b>Furniture</b></td>
                                <td>Box</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Furniture Items</td>
                            </tr>
                        </table>
                    </td>
                    <td>Ravi</td>
                    <td class="text-right">50 Hours</td>
                    <td class="text-right">250</td>
                    <td class="text-right">2500</td>
                </tr>









            </tbody>

        </table>

    </div>
    






    <div class="row">
        <hr />
        <div class="col-md-12">
            <button type="button" class="form-button right">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>
</div>

<script>
    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>
