
@{
    ViewBag.Title = "PayableReport";
}

<div class="container content-in">
    <div class="row">
        <h1>Payable Report</h1>
    </div>

    <div class="row">



        <div class="col-md-3">
            <div class="row">

                <div class="col-md-12">
                    <label>Company</label>
                    <input type="text" class="form_input" />
                </div>


            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="2%">#</th>
                    <th width="7%">Date</th>
                    <th width="42%">Sub Contractor</th>
                    <th width="42%">Address</th>
                    <th width="7%" class="text-right">Amount</th>


                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>


                </tr>



                <tr>

                    <td>102</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>103</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>104</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>105</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>
                    <td>106</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>107</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>108</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>109</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>110</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>111</td>
                    <td>01-10-2016</td>
                    <td>Company</td>
                    <td>Product</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>
                    <td>112</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td class="text-right">5500</td>




                </tr>

                <tr>

                    <td>113</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td class="text-right">5500</td>




                </tr>
                <tr>

                    <td>114</td>
                    <td>01-10-2016</td>
                    <td>sam</td>
                    <td>United</td>
                    <td class="text-right">5500</td>




                </tr>





            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            @*<button type="button" class="form-button right" onclick="Proceed()">Create</button>*@
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


<script>
    function Proceed() {
        var url = '@Url.Action("Payment", "Payment")'
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }
</script>