@{
    ViewBag.Title = "PaymentFollowup";
}


<div class="container content-in">
    <div class="row">
        <h1>Payment Follow up</h1>
    </div>


    <div class="row">


        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Client</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Project</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>


        <div class="col-md-4">
            <div class="row">


                <div class="col-md-6">
                    <label>Task</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="7%">Date</th>
                    <th width="30%">Client</th>
                    <th width="42%">Description</th>
                    <th width="7%" class="text-right">Received Amount</th>
                    <th width="7%" class="text-right">Schedule Amount</th>
                    <th width="7%">Payment</th>





                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>11-11-2016</td>
                    <td>iHits</td>
                    <td>Design and Drawing Submission</td>
                    <td class="text-right">150</td>
                    <td class="text-right">15000</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>






                </tr>



                <tr>


                    <td>11-11-2016</td>
                    <td>iHits</td>
                    <td>Covering of Floor </td>
                    <td class="text-right">7888</td>
                    <td class="text-right">780</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>


                    <td>11-11-2016</td>
                    <td>iHits</td>
                    <td>Gypsum board fixing</td>
                    <td class="text-right">300</td>
                    <td class="text-right">5000</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>
                <tr>


                    <td>11-11-2016</td>
                    <td>iHits</td>
                    <td></td>
                    <td class="text-right">450</td>
                    <td class="text-right">450</td>
                    <td class="text-center"><input type="checkbox" name="" value=""></td>




                </tr>















            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-6 col-md-6">
            <button type="button" class="form-button right" onclick="bill()">Bill To Client</button>
            <button type="button" class="form-button right" onclick="Proceed()">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>
<script>
    function bill() {
        var url = '@Url.Action("Invoice", "Invoice")'
        window.location = url;
    }
    function Payment() {
        var url = '@Url.Action("PreviousPayment", "Payment")'
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>