
@{
    ViewBag.Title = "PreviousPayment";
}

<script>

    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }
    function Filter() {
        $("#PreviousPayment").addClass("fade");
        var SubName = $("#SubName").val().trim();
        var url = '@Url.Action("PreviousPaymentPartial")';
        url += "?SubName=" + encodeURIComponent(SubName);
        $("#PreviousPayment").load(url, function () {
            $("#PreviousPayment").removeClass("fade");
        });
    }
    function Open(id) {
        var url = '@Url.Action("Update")';
        url += "?id=" + id;
    window.location = url;
    }
</script>

<div class="container content-in">
    <div class="row">
        <h1>Payment</h1>
    </div>
        <div class="row">
           <div class="col-md-3">
            <div class="row">
                     <div class="col-md-12">
                    <label>Sub Contractor</label>
                    <input id="SubName" class="form_input" placeholder="Search for SubContractor" onkeyup="Filter()" />
                </div>
             </div>
        </div>
    </div>
    
    <br />

    <div id="PreviousPayment">
        @Html.Action("PreviousPaymentPartial")
    </div>






    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


