
@{
    ViewBag.Title = "PreviousReceipt";
}
<script>
       
    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }

    function Filter() {
        $("#PreviousReceipt").addClass("fade");
        var ClientName = $("#ClientName").val().trim();
        var url = '@Url.Action("PreviousReceiptPartial")';
        url += "?ClientName=" + encodeURIComponent(ClientName);
        $("#PreviousReceipt").load(url, function () {
            $("#PreviousReceipt").removeClass("fade");
        });
    }
    function Open(id) {
        var url = '@Url.Action("Update")';
        url += "?id=" + id;
        window.location = url;
    }
</script>


<div class="container content-in">
    <div class="row">
        <h1>Previous Receipt</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label>Customer</label>
                    <input id="ClientName" class="form_input" placeholder="Search for Customer" onkeyup="Filter()" />
                </div>
            </div>
        </div>
    </div>
    
    <br />


    <div id="PreviousReceipt">
        @Html.Action("PreviousReceiptPartial")
    </div>





    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
              <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>


