@model List<IncreationsPMSDomain.PendingBOQPreparing>
@using GridMvc.Html

<div class="table-responsive scroll3">
    @Html.Grid(Model).Columns(columns =>
{
columns.Add(m => m.ProjectRefNo).Titled("Project No").SetWidth(5);
columns.Add(m => m.ProjectDate).Format("{0:dd/MM/yyyy}").Titled("Date").SetWidth(5);
columns.Add(m => m.ClientName).Titled("Client").SetWidth(20);
columns.Add(m => m.ProjectEnquiry).Titled("Description").SetWidth(15);
columns.Add().Encoded(false).Sanitized(false).SetWidth(5).Css("cent text-center").RenderValueAs(m => @<a href="@Url.Action("BOQPreparing", new { Id = m.ProjectId })">Select</a>);
    }).WithPaging(15)
</div>




