
@{
    ViewBag.Title = "BOQPreparing";
}


<div class="container content-in">
    <div class="row">
        <h1>BOQ Preparing</h1>
    </div>


    <div class="row">


        

        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Project</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Task</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="3%">BOQNo</th>
                    <th width="7%">Date</th>
                    <th width="20%">Milestone</th>
                    <th width="20%">Task</th>
                    <th width="7%" class="text-right">Qty</th>
                    <th width="36%">

                        <table class="table_in">
                            <tr>
                                <td width="40%" style="color:#fff;"><b>Work</b></td>
                                <td width="40%" style="color:#fff;"><b>Sub Contractor</b></td>
                                <td style="color:#fff;" class="text-right"><b>Amount</b></td>
                            </tr>
                            </table>

                            </th>
                            <th width="7%" class="text-right">Total Amount</th>


</tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td></td>
                    <td></td>
                    <td class="text-right">10</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">Flooring Lamp</td>
                                <td width="40%">Ihits</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Flooring Lamp</td>
                                <td>Raj</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Flooring Lamp</td>
                                <td>Jose</td>
                                <td class="text-right">3000</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">15000</td>





                </tr>



                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td></td>
                    <td></td>
                    <td class="text-right">10</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">Flooring Lamp</td>
                                <td width="40%">Sujith</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Flooring Lamp</td>
                                <td>Raj</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Flooring Lamp</td>
                                <td>Jis</td>
                                <td class="text-right">3000</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">15000</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td></td>
                    <td></td>
                    <td class="text-right">10</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">Flooring Lamp</td>
                                <td width="40%">Jinse</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Flooring Lamp</td>
                                <td>Tom</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Wooden Table</td>
                                <td>Jes</td>
                                <td class="text-right">3000</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">15000</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td></td>
                    <td></td>
                    <td class="text-right">10</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">Fabric IronTable</td>
                                <td width="40%">Jose</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Flooring Lamp</td>
                                <td>Rim</td>
                                <td class="text-right">3000</td>
                            </tr>
                            <tr>
                                <td>Wooden Table</td>
                                <td>Tim</td>
                                <td class="text-right">3000</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">15000</td>




                </tr>
                
                













            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>
<script>
    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>