
@{
    ViewBag.Title = "BOQPreparing";
}


<div class="container content-in">
    <div class="row">
        <h1>BOQ Preparing</h1>
    </div>


    <div class="row">


        

        <div class="col-md-4">
            <div class="row">

                <div class="col-md-6">
                    <label>Project</label>
                    <input type="text" class="form_input" />
                </div>
                <div class="col-md-6">
                    <label>Task</label>
                    <input type="text" class="form_input" />
                </div>

            </div>
        </div>




    </div>


    <hr />



    <div class="table-responsive scroll3">
        <span class="filter"><img src="~/Content/images/icon/filter.png" /></span>
        <table class="table table-bordered" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="3%">BOQNo</th>
                    <th width="7%">Date</th>
                    <th width="20%">Milestone</th>
                    <th width="20%">Task</th>
                    <th width="7%" class="text-right">Qty</th>
                    <th width="36%">

                        <table class="table_in">
                            <tr>
                                <td width="40%" style="color:#fff;"><b>Work</b></td>
                                <td width="40%" style="color:#fff;"><b>Sub Contractor</b></td>
                                <td style="color:#fff;" class="right"><b>Amount</b></td>
                            </tr>
                            </table>

                            </th>
                            <th width="7%" class="text-right">Total Amount</th>


</tr>
            </thead>
            <tbody>

                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td>Drawing Submission</td>
                    <td>Design and Drawing Submission</td>
                    <td class="text-right">1</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">Design</td>
                                <td width="40%">Lijith</td>
                                <td class="right">3000</td>
                            </tr>
                            <tr>
                                <td>Drawing</td>
                                <td>Raj</td>
                                <td class="right">9000</td>
                            </tr>
                            <tr>
                                <td>Print</td>
                                <td>Jose</td>
                                <td class="right">500</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">64000</td>





                </tr>



                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td>Floor Covering</td>
                    <td>Covering of Floor </td>
                    <td class="text-right">1</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">Floor Covering with sheet</td>
                                <td width="40%">Sujith</td>
                                <td class="right">3000</td>
                            </tr>
                            <tr>
                                <td>Cleaning</td>
                                <td>Raj</td>
                                <td class="right">2500</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">8300</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td>False Ceiling Gypsum</td>
                    <td>Gypsum board fixing</td>
                    <td class="text-right">10</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">GI Framing</td>
                                <td width="40%">Jinse</td>
                                <td class="right">30000</td>
                            </tr>
                            <tr>
                                <td>Gypsum board fixing</td>
                                <td>Tom</td>
                                <td class="right">3000</td>
                            </tr>
                            <tr>
                                <td>Light Cutting</td>
                                <td>Jes</td>
                                <td class="right">3000</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">15000</td>




                </tr>
                <tr>

                    <td>101</td>
                    <td>11-11-2016</td>
                    <td>Electrical Works</td>
                    <td>Wiring</td>
                    <td class="text-right">3</td>
                    <td>
                        <table class="table_in">
                            <tr>
                                <td width="40%">Wiring False ceiling</td>
                                <td width="40%">Jose</td>
                                <td class="right">8000</td>
                            </tr>
                            <tr>
                                <td>Wiring in walls</td>
                                <td>Rim</td>
                                <td class="right">7000</td>
                            </tr>
                            <tr>
                                <td>Fitting of Lights</td>
                                <td>Tim</td>
                                <td class="right">30000</td>
                            </tr>
                        </table>
                    </td>
                    <td class="text-right">100000</td>




                </tr>
                
                













            </tbody>

        </table>

    </div>




    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="form-button right" onclick="Proceed()">Save</button>
            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>
<script>
    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
        }
</script>