@model List<IncreationsPMSDomain.WorkStatus>
@{
    ViewBag.Title = "WorkStatus";
}

<script>

    function Exit() {
        var url = '@Url.Action("index", "home")'
        window.location = url;
    }
    function Select() {
        var url = '@Url.Action("WorkStatusCreate", "BOQ")'
        window.location = url;
    }

    function Filter() {
        $("#WorkStatus").addClass("fade");
        var ProjectEnquiry = $("#ProjectEnquiry").val().trim();
        var TaskName = $("#TaskName").val().trim();
        var ClientName = $("#ClientName").val().trim();
        var url = '@Url.Action("PendingWorkStatus")';
        url += "?ProjectEnquiry=" + encodeURIComponent(ProjectEnquiry) + "&TaskName=" + encodeURIComponent(TaskName) + "&ClientName=" + encodeURIComponent(ClientName);
           $("#WorkStatus").load(url, function () {
           $("#WorkStatus").removeClass("fade");
        });
    }
</script>

<div class="container content-in">
    <div class="row">
        <h1>Work Status</h1>
    </div>


    <div class="row">
           <div class="col-md-8">
            <div class="row">

                <div class="col-md-4">
                    <label>Project</label>
                    <input id="ProjectEnquiry" class="form_input" placeholder="Search for Project." onkeyup="Filter()" />
             </div>

                <div class="col-md-4">
                    <label>Task</label>
                    <input id="TaskName" class="form_input" placeholder="Search for TaskName" onkeyup="Filter()" />
                </div>

                <div class="col-md-4">
                    <label>Client</label>
                    <input id="ClientName" class="form_input" placeholder="Search for Client." onkeyup="Filter()" />
                </div>


               </div>
        </div>
      </div>
       <br />
    
        <div id="WorkStatus">
        @Html.Action("PendingWorkStatus")
    </div>





    <div class="row">
        <hr />
        <div class="col-md-offset-8 col-md-4">
        <button type="button" class="form-button right" onclick="Exit()">Exit</button>
        </div>

    </div>




</div>
